@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item a {
  color: white;
  text-decoration: none;
  transition: font-weight 0.3s;
}

.nav-item a:hover {
  font-weight: bold;
}

.hero-cover {
  background-image: url('/hero_cover.png');
  background-size: cover;
  min-height: 60vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

h1 {
  font-size: 4rem;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #ea9820;
  border-color: #ea9820;
  border-radius: 1.5rem; /* Adjust the border-radius to make it more rounded */
  padding: 1rem 2rem; /* Adjust the padding to make it bigger */
}

.btn-primary:hover {
  background-color: #f5ab2d;
  border-color: #f5ab2d;
}

.btn-primary:active {
  background-color: #d77d1e;
  border-color: #d77d1e;
}

/* Style for the "Predict" text */
.btn-primary span {
  color: white; /* Adjust the text color */
  font-size: 1.25rem; /* Adjust the font size */
}

.result-container {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.result-container h2 {
  color: #ea9820;
}

.result-container p {
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  .masthead {
    min-height: 30vh;
  }

  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
}
